
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resultado de consulta</h2>





@using (Html.BeginForm())
{

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Abrir resultados
    </button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">La consulta fue exitosa</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Sus datos son</div>
                        <!-- /.form-group -->
                        <div class="fomr-group">
                            <label for="">IMEI: </label>
                            <input class="form-control" id="txtIMEI" value="@Model.IMEI" disabled="true">
                        </div>
                        <!-- /.form-group -->
                        <div class="fomr-group">
                            <label for="">Vehículo: </label>
                            <input class="form-control" id="txtCar" value="@Model.VehicleID" disabled="true">
                        </div>
                        <div class="fomr-group">
                            <label for="">Compañia:</label>
                            <input class="form-control" id="txtCompany" value="@Model.CompanyID" disabled="true">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


}
